<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClVMuroT5hmbfqony2SM5Hg_WUoeZeoVw</string>
	<key>GCM_SENDER_ID</key>
	<string>200222396161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.test.dev</string>
	<key>PROJECT_ID</key>
	<string>apptestdev-315cc</string>
	<key>STORAGE_BUCKET</key>
	<string>apptestdev-315cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200222396161:ios:6d373e00da8d88a4865500</string>
</dict>
</plist>